@font-face {
    font-family: 'TicTacToeFont';
    src:  url('Desktop-GoodDog/Fonts/gooddog.otf');
  }

@font-face {
    font-family: 'ChalkboardFont';
    src: url('CallieChalkFont-Regular.otf');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'TicTacToeFont', Fallback, sans-serif;
    background-image: url('white-brick-wall-textured-background.webp');
    background-size: cover;
}

#scoreboard {
    background-color: black;
    width: 360px;
    color: white;
    margin: 20px auto;
    border-radius: 12px;
}

.counter, .scores {
    display: inline-block;
    font-size: 48px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    width: 30px;
}

main {
    margin: 0 auto;
    height: 363px;
    width: 735.075px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Chalkboard2.jpeg');
    background-size: cover;
}
.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin: 30px 0px;
}

.grid-item {
    border-style: solid;
    font-size: 48px;
    line-height: 100px;
    color: #E8E8E8;
    font-family: 'ChalkboardFont', Fallback, sans-serif;
    border: solid 4px white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    cursor: pointer;
}

#clicked {
    pointer-events: none;
}

#current-go {
    background-color: red;
    border-radius: 100%;
}

.scores {
    background: lightblue;
    background: linear-gradient(bottom, rgba(7, 161, 179), rgba(30, 139, 195,1));
    background: -webkit-linear-gradient(bottom, rgba(7, 161, 179), rgba(30, 139, 195,1));
    background: -moz-linear-gradient(bottom, rgba(1, 1, 122,1), rgba(30, 139, 195,1));
    color: white;
}

.restart {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    flex-grow: 1;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
  }

#text>p {
    margin: 0;
  }

button {
    margin-top: 20px;
    font-family: 'TicTacToeFont', Fallback, sans-serif;
    font-size: 36px;
    cursor: pointer;
    border-radius: 12px;
}

#restart {
    background-color: rgb(115, 196, 100);
}

#reset-game {
    background-color: rgb(222, 69, 69);
}

#restart:hover {
    background-color: green;
}

#reset-game:hover {
    background-color: red;
}

/* Start media query at 625px or 745px with the chalkboard */