/* Fonts */

@font-face {
    font-family: 'TicTacToeFont';
    src:  url('resources/Desktop-GoodDog/Fonts/gooddog.otf');
  }

@font-face {
    font-family: 'ChalkboardFont';
    src: url('resources/CallieChalkFont-Regular.otf');
}


/* Parent Elements */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'TicTacToeFont', Fallback, sans-serif;
    background-image: url('resources/white-brick-wall-textured-background.webp');
    background-size: cover;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#game-information {
    display: grid;
    grid-template-columns: 0.5fr 280px 0.5fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}

#game-information>section {
    margin: 0 10px;
}

#game-area {
    margin: 0 auto;
}


/* Player profile boxes */

.profile {
    border: solid;
}

.fields>p {
    display: inline-block;
}

input[type="text"] {
    border-radius: 12px;
    font-size: 20px;
}

input {
    font-family: 'TicTacToeFont', Fallback, sans-serif;
}

img[id^="player-img"] {
    max-width: 35px;
    max-height: 35px;
}


/* Scoreboard */

#scoreboard {
    background-color: black;
    color: white;
    border-radius: 12px;
}

.counter, .scores, .player-name {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 40px;
}

.counter, .scores {
    font-size: 48px;
}

.player-name {
    font-size: 15px;
}

.scores {
    background: lightblue;
    background: linear-gradient(bottom, rgba(7, 161, 179), rgba(30, 139, 195,1));
    background: -webkit-linear-gradient(bottom, rgba(7, 161, 179), rgba(30, 139, 195,1));
    background: -moz-linear-gradient(bottom, rgba(1, 1, 122,1), rgba(30, 139, 195,1));
    color: white;
}

[data-name = 'current-go'] {
    background-color: red;
    border-radius: 100%;
}

.profile>p {
    margin: 0;
}


/* Tic-Tac-Toe board */

#board {
    height: 363px;
    width: 735.075px; 
    display: grid;
    grid-template-columns: 0.5fr 300px 0.5fr;
    grid-template-rows: 1fr;
    background-image: url('resources/Chalkboard2.jpeg');
    background-size: cover;
}
.grid-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin: auto;
}

.grid-item {
    border-style: solid;
    font-size: 32px;
    line-height: 100px;
    color: #E8E8E8;
    font-family: 'ChalkboardFont', Fallback, sans-serif;
    border: solid 4px white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    cursor: pointer;
}

#clicked {
    pointer-events: none;
}

.sound-button {
    max-width: 50px;
    justify-self: end;
    margin-top: 20px;
    margin-right: 30px;
}


/* Buttons */

button {
    margin-top: 10px;
    font-family: 'TicTacToeFont', Fallback, sans-serif;
    font-size: 36px;
    cursor: pointer;
    border-radius: 12px;
}

.submit {
    font-size: 20px;
}

.submit, .restart-button {
    background-color: rgb(115, 196, 100);
}

.submit:hover, .restart-button:hover {
    background-color: rgb(16, 222, 16);
}

#reset-game {
    background-color: rgb(222, 69, 69);
}

#reset-game:hover {
    background-color: red;
}

#reset-players {
    background-color: rgb(237, 178, 76);
}

#reset-players:hover {
    background-color: rgb(245, 158, 7);
}

@keyframes glowing {
    0% {
        background-color: rgb(115, 196, 100);
        box-shadow: 0 0 3px rgb(115, 196, 100);;
    }

    50% {
        background-color: rgb(115, 196, 100);
        box-shadow: 0 0 10px rgb(115, 196, 100);;
    }

    100% {
        background-color: rgb(115, 196, 100);
        box-shadow: 0 0 3px rgb(115, 196, 100);;
    }
}

#next-round {
    animation: glowing 1000ms infinite;
}


/* End of round */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
  }


/* Mobile reponsive sizing and other smaller screens */

@media screen and (max-width: 745px) {

    
    /* Parent Elements */

    main {
        flex-direction: column-reverse;
    }

    #game-information {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.33fr 0.33fr 0.33fr;
    }

    #game-information>section {
        margin-top: 10px;
    }


    /* Tic-Tac-Toe board */
    
    #board {
        height: 270px;
        width: 324px;
        grid-template-columns: 0.5fr 189px 0.5fr;
        grid-template-rows: 1fr;
        background-image: url('resources/Chalkboard3.jpeg');
        margin: 0 auto;
    }

    .grid-container {
        grid-template-columns: 63px 63px 63px;
        grid-template-rows: 63px 63px 63px;
    }

    .grid-item {
        line-height: 63px;
    }

    .sound-button {
        max-width: 36px;
        justify-self: end;
        margin-top: 21px;
        margin-right: 21px;
    }


    /* Player profiles */
    
    .profile {
        margin: 10px auto;
    }


    /* Scoreboard */

    #scoreboard {
        margin: 10px auto;
        grid-row: 1;
    }


    /* Buttons */

    button {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 24px;
    }


    /* End of round */

    #text {
        font-size: 28px;
        border-radius: 12px;
    } 
}